.THIS.main_container {
    background-color: white;
    padding: 6px;
}

.THIS.productfamily {
    font-size: 14px;
}

.THIS .imas {
    max-width: 50%;
    height: auto;
}


.THIS .font{
    font-size:14px;
}

.THIS .font2{
    font-size:20px;
}