.THIS .paymentType{
    cursor: pointer;
    font-weight: 600;
}

.THIS .subHead{
    font-size: 1.5rem;
}
.THIS .Summary{
    text-align: center;
}

.THIS .Summary .SumHead{
    font-size: 1rem;
}

.THIS .Summary .SumPremium{
    font-size: 1.8rem;
    font-weight: 600;
}

.THIS .absolute-bottom{
    position: absolute;
    bottom: 0;
}

.THIS .sectionGatway{
    text-align: center;
    padding: 10px;
}

.THIS .sectionGatway .slds-box{
    margin: 5px;
}

.THIS .sectionGatway .slds-box:hover img{
    filter: opacity(1);
}

.THIS .sectionGatway img{
    max-height: 70px;
    filter: opacity(0.5);
}


/* Override CSS*/
.THIS.slds-spinner_container.cPaymentInfomation{
    z-index: 50 !important;
  }