.THIS .slds-button{
    min-width: 125px;
}

.THIS .textHead{
    font-size: 16px;
    text-align: center;
}

.THIS.cardSize{
    border-style: solid;
    border-color: #004485;
    border-radius: 3px;
    height: 175px;
    background: #fff;
    width: 450px;
    padding: 30px;
    position: relative;
    margin: auto;
}
.THIS .whiteSpaceClass{
    white-space: nowrap;
}